html {
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 100%;
  min-height: 100%;
  background: rgb(93,185,255);
  background: linear-gradient(90deg, rgba(93,185,255,1) 0%, rgba(24,150,247,1) 20%, rgba(5,95,166,1) 38%, rgba(7,93,161,1) 50%, rgba(5,95,166,1) 62%, rgba(24,150,247,1) 80%, rgba(93,185,255,1) 100%);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFB552;
  margin: 50px 100px;
  min-height: fit-content;
  border-radius: 10px;
  box-shadow:0px 10px 5px -5px #424242;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height:100px;
  margin: 5px 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

a {
  color: rgb(42, 42, 42);
  text-decoration: none;
}